@charset "utf-8";

header{
    background-color: #229274;
    margin: -8px -8px 0px -8px ;
    padding: 10px;
}

header>h1{
    color: white;
    text-align: center;
}

nav{
    background-color: #229274;
    margin: -8px -8px 0px -8px;
    padding: 10px;
}
nav>a{
    color: white;
    margin-left: 10px;
    padding-right: 18px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

nav>a:hover{
    background-color: #165a48;
}
.imagem{
    width: 68em;
    margin-left: -1em;
    height: 35em;
    background-image: url(imagem/A\ tecnologia\ entre\ nós1.jpg);
}

body{
    text-align: justify;
    font-size: 20px;
    background-color: #e7e4e4;
}
main{
    background-color: white;
    width: 90%;
    margin: auto;
    border-radius: 1% 1% 1% 1%;
    padding: 1.1em;
}
main>.texto{
    width: 50%;
    height: 100%;
    background-color: #ffffff;
}
main>.imagens{

    width: 30%;
    height: 60%;
    position: absolute;
    margin: -77.2em 0em 0em 37em;
}
main>.imagens>img{

    width: 100%;
    height: 70%;
}
.imagens2{
    width: 30%;
    height: 60%;
    position: absolute;
    margin: -40.5em 0em 0em 37em;
    
}
.imagens{
    display: fixed;
}
.imagens2>img{
    width: 100%;
    height: 80%;
}
.imagemmeio{
    width: 25em;
    margin: 1em 1em 1em 10em;
    border-radius: 1em 1em 1em 1em;
    border-radius: 2px 2px 3px 2px black;
}
.imagemfim{
    width: 25em;
    margin: 1em 1em 1em 10em;
    border-radius: 1em 1em 1em 1em;
    border-radius: 2px 2px 3px 2px black;
}

.whatsapp>img{
    width: 100%;
    height: 100%;
   
}
.whatsapp>a>img{
    width: 15%;
    height: 30%;
    margin-left: -3.5em;
    margin-top: -20em;
}
.sobrenos{

    width: 40%;
    margin-left: 5%;
    padding: 1em;
    border-radius: 10px 10px 10px 10px;
    background-color: #cccbcb;
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.171);;
}
.sobrenos1{
    padding: 0.5em;
    background-color: #e7e4e4;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -9px 9px 8px 5px #00000086
    
}
.equipe>img{
        position: absolute;
        margin: -18em 1em 1em 34em;
}
aside>footer{
    background-color: #229274;
    width: 102%;
    margin: 0em 0.0em -5em -1em;
}
.logomarca>a>img{
    width: 200px;
    margin-left: 2em;
}
footer>.localizacao {
    width: 30%;
    height: 12%;
    position: absolute;
    margin: -7.2em 0em 0em 23em;
}
footer>.localizacao>a {
    color: black;
    text-decoration: none;
}
footer>.localizacao>.localizacao2{
    width: 30%;
    height: 60%;
    position: absolute;
    margin: -3em 1em 1em 8em;
}
.contato {
    position: absolute;
    margin: -8.2em 1em 1em 53em;
}
.contato>.email {
    position: absolute;
    margin: -.9em 0em 0em 1em;
}
.contato>.email>a>img {
    width: 50px;
}

.contato>.instagram {
    position: absolute;
    margin: -0.8em 0em 0em 3.5em;
}
.contato>.instagram>a>img {
    width: 55.5px;
}
.contato>.whatsappsemcor {
    position: absolute;
    margin: -1.2em 0em 0em 6em;
}
.contato>.whatsappsemcor>a>img {
    width: 59.5px;
}

@media(Max-width:1440px){

    .imagem{
        width: 68em;    
        height: 35em;
        background-image: url(imagem/A\ tecnologia\ entre\ nós1.jpg);
    }
      
}
@media(Max-width:1180px){

    header{
        margin: -1em -2.5em -1em -1em;
    }
    nav{
        margin: -3em -2.5em -1em -1em;
        padding: 1.5em;
    }
    .imagem{
        width: 61.7em;
        height: 30em;
        background-image: url(imagem/A\ tecnologia\ entre\ nós5.jpg);
    }
    main>.imagens{

        width: 40%;
        height: 70%;
        position: absolute;
        margin: -85.2em 0em 0em 27em;
    }
    main>.imagens>img{

        width: 100%;
        height: 80%;
    }
    .imagens2{
        width: 42%;
        height: 60%;
        position: absolute;
        margin: -42.5em 0em 0em 33em;
        
    }
    .imagens2>img{
        width: 80%;
        height: 60%;
    }
    .imagemmeio{
        width: 25em;
        margin-right: 50%;
        border-radius: 1em 1em 1em 1em;
        border-radius: 2px 2px 3px 2px black;
    }
    .imagemfim{
        width: 25em;
        margin-right: 50%;
        border-radius: 1em 1em 1em 1em;
        border-radius: 2px 2px 3px 2px black;
    }
    
    .equipe>img{
        width: 40%;
        position: absolute;
        margin: -18em 1em 1em 26em;
    }
    
    footer>.localizacao {
        width: 30%;
        height: 12%;
        position: absolute;
        margin: -7.2em 0em 0em 15em;
    }
   
    .contato {
        position: absolute;
        margin: -8.2em 1em 1em 38em;
    }
    aside>footer{
        width: 106%;
    }
   
    
}

@media(Max-width:915px){

    header{
        margin: -1em -3.2em -1em -1em;
    }
    nav{
        margin: -3em -3.2em -1em -1em;
        padding: 1.5em;
    }

  

    .imagem{
        width: 109.3%;
    }
    main>.imagens{

        width: 40%;
        height: 90%;
        margin: -90.2em 0em 0em 20em;
    }
    .imagens2{
        width: 40%;
        height: 60%;
        margin: -42.5em 0em 0em 20em;
        
    }

    .equipe>img{
        width: 40%;
    }

    .contato {
        margin: -8.2em 1em 1em 32em;
    }
    aside>footer{
        width: 109.3%;
    }



}

@media(Max-width:851px){

    header{
        margin: -1em -5.1em -1em -1em;
    }
    nav{
        margin: -3em -5.1em -1em -1em;
        padding: 1.5em;
    }

    .imagem{
        width: 114.5%;
    }


    main>.imagens{

        width: 40%;
        height: 90%;
        margin: -90.2em 0em 0em 20em;
    }
    .imagens2{
        width: 40%;
        height: 60%;
        margin: -42.5em 0em 0em 20em;
        
    }

    main>.imagens{

        width: 40%;
        height: 90%;
        margin: -90.2em 0em 0em 20em;
    }
    .imagens2{
        width: 40%;
        height: 60%;
        margin: -42.5em 0em 0em 20em;
        
    }


    .equipe>img{
        width: 40%;
    }

    .contato {
        margin: -8.2em 1em 1em 32em;
    }
    aside>footer{
        width: 114.6%;
    }

}

@media(Max-width:844px){

    header{
        margin: -1em -5em -1em -1em;
    }
    nav{
        margin: -3em -5em -1em -1em;
        padding: 1.5em;
    }

    .imagem{
        width: 114.5%;
    }


    main>.imagens{

        width: 40%;
        height: 90%;
        margin: -90.2em 0em 0em 20em;
    }
    .imagens2{
        width: 40%;
        height: 60%;
        margin: -42.5em 0em 0em 20em;
        
    }


    .equipe>img{
        width: 40%;
    }

    .contato {
        margin: -8.2em 1em 1em 32em;
    }
    aside>footer{
        width: 114.6%;
    }

}

@media(Max-width:820px){

    main{
        margin-left: 3.5em;
    }

    header{
        margin: -1em -5.9em -1em -1em;
    }
    nav{
        margin: -3em -5.9em -1em -1em;
        padding: 1.5em;
    }

    .imagem{
        width: 117.2%;
    }
    main>.imagens{

        width: 40%;
        height: 40%;
        margin: -90.2em 0em 0em 20em;
    }
    .imagens2{
        width: 40%;
        height: 30%;
        margin: -46.5em 0em 0em 20em;
        
    }
    .equipe{
        margin-left: -6em;
    }
    

    .imagemmeio{
        width: 25em;
        margin-left: 0%;
    }
    .imagemfim{
        width: 25em;
        margin-left: 0%;
    }

aside>footer{
    width: 117.2%;
}

}

@media(Max-width:786px){
    main{
        margin-left: 2.46em;
        width: 100%;
    }
    header{
        margin: -1em -4.8em -1em -1em;
    }
    nav{
        margin: -3em -4.8em -1em -1em;
        padding: 1.5em;
    }
    .imagem{
        width: 115%;
    }
    main>.imagens{

        width: 50%;
        height: 100%;
        margin: -90.2em 0em 0em 20em;
    }
    main>.imagens>img{
        width: 100%;
        height: 80%;
    }
    .imagens2{
        width: 50%;
        height: 70%;
        margin: -42.5em 0em 0em 20em;
        
    }
    .imagens2>img{
        width: 100%;
        height: 80%;
    }
    .imagemmeio{
        width: 25em;
        margin-left: 0%;
    }
    .imagemfim{
        width: 25em;
        margin-left: 0%;
    }

   


    .contato {
        margin: -8.2em 1em 1em 32em;
    }
    .equipe>img{
        width: 40%;
    }
    aside>footer{
        width: 115%;
    }


}

@media(Max-width:768px){

    main{

        margin-left: 3%;

    }

    nav{
        margin: -3em -4.8em -1em -1em;
        
    }
    nav>a{
        margin-left: 0px;
        padding: 2px;
        border-radius: 5px;
    }
    .imagem{
        width: 115.4%;
        height: 20em;
        background-image: url(imagem/A\ tecnologia\ entre\ nós2.jpg);
    }
    main>.imagens{

        width: 40%;
        height: 50%;
        position: absolute;
        margin: -90.2em 0em 0em 19em;
    }
    main>.imagens>img{

        width: 100%;
        height: 80%;
    }
    .imagens2{
        width: 42%;
        height: 30%;
        position: absolute;
        margin: -43.5em 0em 0em 22em;
        
    }
    .imagens2>img{
        width: 100%;
        height: 80%;
    }
    .imagemmeio{
        width: 25em;
        margin:1em 1em 1em 0em ;
        border-radius: 1em 1em 1em 1em;
        border-radius: 2px 2px 3px 2px black;
    }
    .imagemfim{
        width: 25em;
        margin:1em 1em 1em 0em ;
        border-radius: 1em 1em 1em 1em;
        border-radius: 2px 2px 3px 2px black;
    }
    .equipe>img{
        display: none;
    }   
    .sobrenos{
        width: 80%;
    } 
    footer>.localizacao {
        width: 30%;
        height: 12%;
        position: absolute;
        margin: -7.2em 0em 0em 12em;
    }
   
    .contato {
        position: absolute;
        margin: -8.2em 1em 1em 27em;
    }
    aside>footer{
        width: 115.4%;
    }
    
}

@media(Max-width:745px){

    main{
        margin-left: 1em;
    }
    header{
        margin: -1em -4.5em -1em -1em;
    }
    nav{
        margin: -3em -4.5em -1em -1em;
        padding: 1.5em;
    }
    .imagem{
        width: 115.2%;
    }
    aside>footer{
        width: 115.2%;
    }

}

@media(Max-width:740px){

    main{
        margin-left: 0em;
    }


    header{
        margin: -1em -2.2em -1em -1em;
    }
    nav{
        margin: -3em -2.2em -1em -1em;
        padding: 1.5em;
    }
    .imagem{
        width: 109%;
    
    }
    .imagens2{
        margin-left: 21em;
        margin-top: -12em;
    }
    aside>footer{
        width: 109%;
    }

}

@media(Max-width:712px){

    body{
        background-color: white;
    }
    .imagem{
        width: 126.7%;
    
    }

    header{
        margin: -1em -8.29em -1em -1em;
    }
    nav{
        margin: -3em -8.29em -1em -1em;
        padding: 1.5em;
    }
    main>.imagens{

        width: 68%;
        height: 38%;
        position: absolute;
        margin: -100em 0em 0em 17em;
    }
    main>.imagens>img{

        width: 100%;
        height: 100%;
    }
    .imagens2{
        width: 50%;
        height: 25%;
        position: absolute;
        margin: -48.5em 0em 0em 20em;
        
    }
    .imagens2>img{
        width: 118%;
        height: 100%;
    }
    aside>footer{
        width: 126.75%;
    }


}

@media(Max-width:667px){

    .imagem{
        width: 128.5%;
    }
    main>.imagens{

        width: 50%;
        height: 80%;
        position: absolute;
        margin: -100em 0em 0em 19em;
    }
    main>.imagens>img{

        width: 120%;
        height: 120%;
    }
    .imagens2{
        width: 55%;
        height: 70%;
        position: absolute;
        margin: -48.5em 0em 0em 17em;
        
    }
    .imagens2>img{
        width: 118%;
        height: 100%;
    }
    aside>footer{
        width: 128.5%;
    }

}

@media(Max-width:658px){

    body{
        background-color: white;
    }
    header{
        margin: -1em -5.9em -1em -1em;
    }
    nav{
        margin: -3em -5.9em -1em -1em;
        padding: 1.5em;
    }
    .imagem{
        width: 121.5%;
    }
    main>.imagens{

        width: 50%;
        height: 60%;
        position: absolute;
        margin: -100em 0em 0em 15em;
    }
    main>.imagens>img{

        width: 120%;
        height: 120%;
    }
    .imagens2{
        width: 55%;
        height: 70%;
        position: absolute;
        margin: -48.5em 0em 0em 15em;
        
    }
    .imagens2>img{
        width: 118%;
        height: 100%;
    }
    .imagemmeio{
        width: 22em;
        margin:1em 1em 1em 0em ;
    }
    .imagemfim{
        width: 22em;
        margin:1em 1em 1em 0em ;
    }
    aside>footer{
        width: 121.5%;
    }

}
    

@media(Max-width:640px){
    main{
        scroll-margin-left: 5%;
        width: 80%;
    }

    header{
        margin: -1em -0.8em -1em -1em;
    }
    nav{
        margin: -3em -0.8em -1em -1em;
        padding: 1.5em;
    }

    nav>a{
        margin-left: 0px;
        padding: 2px;
        border-radius: 5px;
        font-size: 0.85em;
    }
    .cuidados{
        display: none;
    }
    .imagem{
        width: 33em;
    
    }
    main>.imagens{

        width: 40%;
        height: 60%;
        position: absolute;
        margin: -98.2em 0em 0em 15em;
    }
    main>.imagens>img{

        width: 100%;
        height: 80%;
    }
    .imagens2{
        width: 42%;
        height: 60%;
        position: absolute;
        margin: -45.5em 0em 0em 15em;
        
    }
    .imagens2>img{
        width: 100%;
        height: 80%;
    }
    .imagemmeio{
        margin:1em 2em 1em 0em ;
    }
    .imagemfim{
        width: 20em;
        margin:1em 1em 1em 0em ;
    }
    .whatsapp>a>img{
        width: 25%;
        height: 30%;
        margin-left: -1.5em;
        margin-top: -1em;
    }
    .logomarca>a>img{
        width: 150px;
    }
    footer>.localizacao {
        width: 30%;
        height: 12%;
        position: absolute;
        margin: -5.2em 0em 0em 10em;
    }
   
    .contato {
        position: absolute;
        margin: -6em 1em 1em 23.5em;
    }
    aside>footer{
        margin-left:-0.5em ;
        width: 104.2%;
    }

}

@media(Max-width:522px){
    body{
        background-color: white;
    }
    .imagem{
        width: 105.6%;
        height: 14em;
        background-image: url(imagem/A\ tecnologia\ entre\ nós3.jpg);
    }
    main>.texto{
        width: 100%;
        height: 100%;
        background-color: #ffffff;
    }
    main>.imagens{
        width: 40%;
        height: 60%;
        position: fixed;
        margin: -65.2em 0em 0em 15em;
        display: none;
    }
    main>.imagens>img{

        width: 100%;
        height: 80%;
        display: none;
    }
    .imagens2{
        width: 42%;
        height: 60%;
        position: absolute;
        margin: -35.5em 0em 0em 15em;
        display: none;
    }
    .imagens2>img{
        width: 100%;
        height: 80%;
        display: none;
    }
    .logomarca>a>img{
        width: 40%;
    }
    aside>footer{
        width: 100%;
        margin-top: -0em;
    }
    footer>.localizacao {
        width: 50%;
        height: 12%;
        position: absolute;
        margin: -25% 0em 0em 12em;
    }
    footer>.localizacao {

        display: none;

    }
   
    .contato {
        position: absolute;
        margin: -8em 1em 1em 15em;
    }
    .whatsapp>a>img{
        position: absolute;
        width: 25%;
        height: 30%;
        margin-left: -3em;
        margin-top: -5em;
    }
    .manu{
        display: none;
      }
   
}
@media(Max-width:496px){
    .imagem{
        width: 105.8%;
        height: 14em;
        background-image: url(imagem/A\ tecnologia\ entre\ nós3.jpg);
    }
    footer>.localizacao {
        width: 30%;
        height: 12%;
        position: absolute;
        margin: -6.8em 0em 0em 10.5em;
    }
    .localizacao>a{
        font-size: 1em;
    }
    .manu{
        display: none;
      }
   

}

@media(Max-width:480px){

    header{
        margin: -1em -1.9em -1em -1em;
    }
    nav{
        margin: -3em -1.9em -1em -1em;
    }
    .imagem{
        width: 112.5%;
    }
    aside>footer{
        width: 110.4%;
    }

}

@media(Max-width:460px){
    header{
        margin: -1em -0.4em -1em -1em;
    }
    nav{
        margin: -3em -0.4em -1em -1em;
        padding: 1.5em;
    }
    .imagem{
        width: 106.2%;
        height: 14em;
        background-image: url(imagem/A\ tecnologia\ entre\ nós3.jpg);
    }
    aside>footer{
        width: 104%;
    }
    footer>.localizacao {
        width: 30%;
        height: 12%;
        position: absolute;
        margin: -7.2em 0em 0em 11.5em;
    }
    .localizacao>a{
        font-size: 1em;
    }
    footer>.localizacao>.localizacao2 {
        width: 20%;
        height: 60%;
        position: absolute;
        margin: -3em 1em 1em 5em;
    }
    .manu{
        display: none;
      }
}

@media(Max-width:440px){
    header{
        margin: -1em -0.99em -1em -1em;
    }
    nav{
        margin: -3em -0.99em -1em -1em;
        padding: 1.5em;
    }
    .imagem{
        width: 109.2%;
        height: 14em;
    }
    aside>footer{
        width: 106.8%;
    }
    footer>.localizacao {
        width: 30%;
        height: 12%;
        position: absolute;
        margin: -7.2em 0em 0em 11.5em;
    }
    .localizacao>a{
        font-size: 1em;
    }
    footer>.localizacao>.localizacao2 {
        width: 20%;
        height: 60%;
        position: absolute;
        margin: -3em 1em 1em 5em;
    }
    .manu{
        display: none;
      }
}

@media(Max-width:435px){
    header{
        margin: -1em -1.13em -1em -1em;
    }
    nav{
        margin: -3em -1.13em -1em -1em;
        padding: 1.5em;
    }
    .imagem{
        width: 110.2%;
        height: 14em;
        background-image: url(imagem/A\ tecnologia\ entre\ nós3.jpg);
    }
    aside>footer{
        width: 107.76%;
    }
    .manu{
        display: none;
      }

}

@media(Max-width:427px){
    header{
        margin: -1em -1.43em -1em -1em;
    }
    nav{
        margin: -3em -1.43em -1em -1em;
        padding: 1.5em;
    }
     .imagem{
        width: 112%;
        height: 14em;
        background-image: url(imagem/A\ tecnologia\ entre\ nós3.jpg);
    }
    main>.imagens{
        width: 40%;
        height: 60%;
        position: fixed;
        margin: -65.2em 0em 0em 15em;
        display: none;
    }
    main>.imagens>img{

        width: 100%;
        height: 80%;
        display: none;
    }
    .imagens2{
        width: 42%;
        height: 60%;
        position: absolute;
        margin: -35.5em 0em 0em 15em;
        display: none;
    }
    .imagens2>img{
        width: 100%;
        height: 80%;
        display: none;
    }
    .imagemmeio{
        width: 100%;
    }
    .imagemfim{
        width: 100%;
    }
    .sobrenos{
        width: 100%;
        margin-left: -1em;   
    }
    footer>.localizacao {
        width: 30%;
        height: 12%;
        position: absolute;
        margin: -7.2em 0em 0em 10.5em;
    }
    .localizacao>a{
        font-size: 1.2em;
    }
   
    .contato {
        position: absolute;
        margin: -6em 1em 1em 23.5em;
    }    
    .whatsapp>a>img{
        width: 35%;
        margin-left: -2.5em;
        margin-top: -4.7em;
    }  
    aside>footer{
        margin-top: 0.5em;
        width: 109.5%;
    }
    .manu{
        display: none;
      }
}

@media(Max-width:420px){


    .imagem{
        width: 112.2%;
    }
    aside>footer{
        margin-top: 0.5em;
        width: 109.8%;
        margin-bottom: -10%;
    }


}

@media(Max-width:414px){
    main{
        margin-left: 0em;
    }

    header{
        margin: -1em -1.53em -1em -1em;
    }
    nav{
        margin: -3em -1.53em -1em -1em;
        padding: 1.5em;
    }
    main>.texto>article>p{
        
        width: 118%;

    }
    main>article>p{
        
        width: 118%;

    }

    .imagem{
        width: 112.7%;
    }
    .whatsapp>a>img{
        width: 20%;
        height: 18%;
        margin-left: -2.5em;
        margin-top: -3em;
    } 
    .logomarca{
        width: 19em;
    }
    .sobrenos{
        width: 120%;
        margin-left: -1.2em;
    }
    .contato {
        position: absolute;
        margin: -7em 1em 1em 12em;
    }  
    aside>footer{
        margin-top: 0.5em;
        width: 110.2%;
        margin-bottom: -10%;
    }

}
@media(Max-width:412px){

    .imagem{
        width: 112.9%;
    }

    aside>footer{
        margin-top: 0.5em;
        width: 110.5%;
    }

}

@media(Max-width:393px){
    main{
        margin: 6%;
    }
    header{
        margin: -1em -5em -1em -1em;
    }
    nav{
        margin: -3em -5em -1em -1em;
    }

    main>.texto>article>p{
        
        width: 130%;

    }
    main>article>p{
        
        width: 130%;

    }

    .imagem{
        width: 131.9%;
    }
    .imagemmeio{
        margin-left: 0em;
    }
    .imagemfim{
        margin-left: 0em;
    }
    aside>footer{
        margin-top: 0.5em;
        width: 129.3%;
        margin-bottom: -10%;
    }
    .manu{
        display: none;
      }
      .sobrenos{
        width: 130%;
        margin-left: -1.8em;
    }
      .contato {
        position: absolute;
        margin: -8em 1em 1em 12em;
    }   
    
}
@media(Max-width:390px){
    main{
        margin: 0%;
    }

    header{
        margin: -1em -1.28em -1em -1em;
    }
    nav{
        margin: -3em -1.28em -1em -1em;
    }
    main>.texto>article>p{
        
        width: 119%;

    }
    main>article>p{
        
        width: 119%;

    }
    .imagem{
        width: 112.2%;
    }
    .sobrenos{
        width: 122.5%;
        margin-left: -1.8em;
    }
    .contato {
        margin: -8em 1em 1em 11em;
    }   
    aside>footer{
        width: 109.5%;
    }


}
@media(Max-width:384px){
    main{
        margin-left: 0em;
    }
    header{
        margin: -1em -3.3em -1em -1em;
    }
    nav{
        margin: -3em -3.3em -1em -1em;
    }
     .imagem{
        width: 123.4%;
    }
    .imagemmeio{
        width: 100%;
        margin-left: -0.01em;
    }
    .imagemfim{
        width: 100%;
        margin-left: -0.01em;
    }
    .manu{
        display: none;
      }
      aside>footer{
        width: 120.9%;
        margin-bottom: -10%;
    }
    .sobrenos{
        margin-left: -1em;
    }
    .contato {
        position: absolute;
        margin: -7em 1em 1em 12em;
    }    
    .logomarca{
        width: 19em;
    }

}   
@media(Max-width:375px){

    header{
        margin: -1em -1.1em -1em -1em;
    }
    nav{
        margin: -3em -1.1em -1em -1em;
    }
    main>.texto>article>p{
        
        width: 115%;

    }
    main>article>p{
        
        width: 115%;

    }
    .email1{
      display: none;
    }
    .imagem{
      width: 111.6%;
    }  
    .localizacao>a{
      font-size: 1.2em;
    } 
    .sobrenos{
        width: 122.4%;
        margin-left: -1.8em;
    }

    .whatsapp>a>img{
        width: 20%;
        height: 18%;
        margin-left: -2.5em;
        margin-top: -3em;
    } 
    .logomarca>a>img{
        width: 35%;
    }
    aside>footer{
    width: 108.8%;
    }
    footer>.localizacao {
        width: 30%;
        height: 12%;
        position: absolute;
        margin: -5.8em 0em 0em 9em;
    }
    .manu{
        display: none;
    }
    .contato {
        margin: -6.5em 1em 1em 10em;
    }
}    
@media(Max-width:360px){
    main{
        margin: 0%;
    }
    main>.texto>article>p{
        
        width: 145%;

    }
    main>article>p{
        
        width: 145%;

    }
    header{
        margin: -1em -5.2em -1em -1em;
    }
    nav{
        margin: -3em -5.2em -1em -1em;
    }
    .imagem{
        width: 136%;
    }  
    .imagemmeio{
        margin:1em 1em 1em 0em ;
    }
    .imagemfim{
        margin:1em 1em 1em 0em ;
    }
    .sobrenos{
        width: 135%;
        margin-left: -0.5em;
    }
    aside>footer{
        width: 133.2%;
    }
    .contato {
        position: absolute;
        margin: -6.5em 1em 1em 12em;
    }
    .logomarca{
        width: 19em;
    }
    .manu{
        display: none;
      }

}

@media(Max-width:353px){
    main{
        margin: 0em;
    }

    header{
        margin: -1em -1.8em -1em -1em;
    }
    nav{
        margin: -3em -1.8em -1em -1em;
    }
    main>.texto>article>p{
        
        width: 117%;

    }
    main>article>p{
        
        width: 117%;

    }


    .imagem{
        width: 116.7%;
    }  

    .sobrenos{
        width: 128%;
        margin-left: -1.8em;
    }

    .contato {
        position: absolute;
        margin: -6.5em 1em 1em 9.5em;
    }
    .logomarca{
        margin-left: -1em;
    }
    aside>footer{
        width: 113.7%;
    }
    
}

@media(Max-width:340px){
     header{
        margin: -1em -1.4em -1em -1em;
    }
    nav{
        margin: -1em -1.4em -1em -1em;
    }
      .manu{
        display: none;
      }
       
      .imagem{
        width: 114.7%;
      }
      .sobrenos{
        width: 100%;
        margin-left: -1em;
    }
    footer>.localizacao{
        margin-top: -7.3em;
    }
    .localizacao>.localizacao2>a>img{
        margin-top: 2em;
        margin-left: -5em;
    }
    .whatsapp>a>img{
        width: 35%;
        margin-left: -2.5em;
        margin-top: -1.7em;
    } 
    .logomarca>a>img{
        width: 40%;
    }     
}
@media(Max-width:320px){
    main{
        margin-left: 0em;
    }
    header{
        margin: -1em -5.3em -1em -1em;
    }
    nav{
        margin: -1em -5.3em -1em -1em;
    }
    main>.texto>article>p{
        
        width: 148%;

    }
    main>article>p{
        
        width: 148%;

    }
    .imagem{
        width: 141.5%;
      }
      aside>footer{
        width: 138%;
        margin-bottom: -10%;
    }
    .whatsapp>a>img{
        width: 35%;
        margin-left: -2.5em;
        margin-top: -2.2em;
    } 
    .sobrenos{
        width: 142%;
        margin-left: -0.8em;
    }
    .contato {
        margin: -6.5em 1em 1em 11em;
    }
    .logomarca{
        width: 17em;
    }
   
}



