@charset "utf-8";

header{
    background-color: #229274;
}
h1{
    color: white;
}
nav>a{
    text-decoration: none;
    color: white;
    background-color: #229274;
}

nav>a>:hover{
    background-color: #31be99;
    border-radius: 5em;
}

.imagem{
    width: 68em;
    margin-left: -1em;
    height: 35em;
    background-image: url(imagem/A\ tecnologia\ entre\ nós1.jpg);
}
aside>footer{
        
    background-color: #229274;
    margin: 0em 0em -0.5em -0.5em;
}

@media(Max-width:915px){

   a{
        text-decoration: none;
    }

    header{
        width: 103.9%;
        margin: -8% 0% 0% -3%;
        padding: 10% 0% 10% 0%;
    }

    h1{
        margin-left: 33%;
    }
    nav{
        margin: -5% 0% 10% -3%;
    }
    
    nav>a{
        padding: 4% 0% 0% 6.5%;
    }

    .imagem{
        width:102.7%;
        height: 29em;
        margin-left: -1em;
        margin-top: -4em;
        background-image: url(imagem/imagem915.jpg);
    }

    #imagemmeio{
        width: 95%;
        margin: 0% 0% 0% 2.5%;
        border-radius: 5%;
        border-radius: 2px 2px 3px 2px black;
    
    }
    .imagemfim{
        width: 95%;
        margin: 0% 0% 0% 2.5%;
        border-radius: 5%;
        border-radius: 2px 2px 3px 2px black;
    
    }

    .equipe{
        display: none;
    }
    
    .imagens2{
        display: none;
    }
    .imagens{
        display: none;
    }

       
    .whatsapp>a>img{
        width: 140px;
        position: fixed;
        margin: -118em 0em 0em 33em;
    }

    aside>footer{
        width: 101.8%;
    }
    .logomarca>a>img{
        width: 180px;
    }

    #email{
        width: 50px;
    }
    .instagram{
        width: 57px;
        margin-bottom: -0.5em;
    }
    .links{
      
        position: absolute;
        margin: -9em 0em 0em 22em;
    
    }


}

@media(Max-width:854px){


    .imagem{
        width:102.9%;
        height: 29em;
        margin-left: -1em;
        margin-top: -4em;
        background-image: url(imagem/imagem915.jpg);
    }

    aside>footer{
        width: 101.9%;
    }


}

@media(Max-width:844px){

    header{
        width: 104%;
        margin: -8% 0% 0% -3%;
        padding: 10% 0% 10% 0%;
    }


}

@media(Max-width:823px){

    nav>a{
        padding: 4% 0% 0% 5%;
    } 
    .imagem{
        width:103%;
        height: 25em;
        margin-left: -1em;
        margin-top: -3.7em;
        background-image: url(imagem/imagem915.jpg);
    }
    aside>footer{
        width: 102%;
    }

}

@media(Max-width:786px){

    header{
        width: 104.3%;
        margin: -8% 0% 0% -3%;
        padding: 10% 0% 10% 0%;
    }

    h1{
        margin-left: 33%;
    }
    nav{
        margin: -5% 0% 10% -3%;
    }
    
    nav>a{
        padding: 4% 0% 0% 4.5%;
    }

    .imagem{
        width:103.4%;
        height: 25em;
        margin-left: -1em;
        margin-top: -3.7em;
        background-image: url(imagem/imagem786.jpg);
    }

   
    .whatsapp>a>img{
        width: 140px;
        position: fixed;
        margin: -118em 0em 0em 33em;
    }

    aside>footer{
        width: 102.3%;
    }
    .logomarca>a>img{
        width: 170px;
    }

    #email{
        width: 50px;
    }
    .instagram{
        width: 57px;
        margin-bottom: -0.5em;
    }
    .links{
      
        position: absolute;
        margin: -8.5em 0em 0em 20em;
    
    }


}

@media(Max-width:731px){

    .imagem{
        width:103.5%;
        height: 25em;
        margin-left: -1em;
        margin-top: -3.7em;
        background-image: url(imagem/imagem786.jpg);
    }

    aside>footer{
        width: 102.5%;
    }

}

@media(Max-width:667px){

    nav>a{
        padding: 4% 0% 0% 3.5%;
    }

}


@media(Max-width:658px){

    header{
        width: 104.3%;
        margin: -8% 0% 0% -3%;
        padding: 10% 0% 10% 0%;
    }

    h1{
        margin-left: 33%;
    }
    nav{
        margin: -10% 0% 10% -3%;
    }
    
    nav>a{
        padding: 4% 0% 0% 2.5%;
    }

    .imagem{
        width:103.7%;
        height: 20em;
        margin-left: -1em;
        margin-top: -1.2em;
        background-image: url(imagem/imagem640.jpg);
    }

    .whatsapp>a>img{
        width: 140px;
        position: fixed;
        margin: -118em 0em 0em 33em;
    }


    
    aside>footer{
        width: 102.5%;
    }
    .logomarca>a>img{
        width: 150px;
    }

    #email{
        width: 50px;
    }
    .instagram{
        width: 57px;
        margin-bottom: -0.5em;
    }
    .links{
      
        position: absolute;
        margin: -7.3em 0em 0em 17em;
    
    }



}


@media(Max-width:640px){

    header{
        width: 104.3%;
        margin: -8% 0% 0% -3%;
        padding: 10% 0% 10% 0%;
    }

    h1{
        margin-left: 33%;
    }
    nav{
        margin: -10% 0% 10% -3%;
    }
    
    nav>a{
        padding: 4% 0% 0% 2.5%;
    }

    
    .imagem{
        width: 103.8%;
        height: 20em;
        margin-left: -1em;
        margin-top: -1.2em;
        background-image: url(imagem/imagem640.jpg);
    }

    .whatsapp>a>img{
        width: 140px;
        position: fixed;
        margin: -118em 0em 0em 33em;
    }


    

}

@media(Max-width:600px){


    nav>a{
        padding: 4% 0% 0% 2.5%;
    }

     
    .imagem{
        width: 104.1%;
        height: 20em;
        margin-left: -1em;
        margin-top: -1.2em;
        background-image: url(imagem/imagem640.jpg);
    }

    .whatsapp>a>img{
        width: 140px;
        position: fixed;
        margin: -118em 0em 0em 30em;
    }
    aside>footer{
        
        width: 102.7%;
    
    }

}


@media(Max-width:580px){


    .cuidados{
        display: none;
    }
    .manu{
        display: none;
    }
    .locp{
        display: none;
    }
    .contp{
        display: none;
    }
   

    #email{
        width: 50px;
    }
    .instagram{
        width: 57px;
        margin-bottom: -0.5em;
    }
    .links{
      
        position: absolute;
        margin: -6em 0em 0em 9.5em;
    
    }
   


}
@media(Max-width:425px){

    header{
        width: 105%;
        margin: -8% 0% 0% -3%;
        padding: 10% 0% 10% 0%;
    }

    h1{
        margin-left: 25%;
    }
    nav{
        margin: -10% 0% 10% -3%;
    }
    nav>a{
        padding: 4% 0% 0% 8%;
    }

    .imagem{
        width: 105.8%;
        height: 14em;
        margin-left: -1em;
        margin-top: -1.2em;
        background-image: url(imagem/imagem414.jpg);
    }

    .whatsapp>a>img{
        width: 140px;
        position: fixed;
        margin: -113em 0em 0em 19em;
    }

    aside>footer{
        
        width: 104%;
    
    }

    .logomarca>a>img{
        width: 120px;
    }
    .links{
      
        position: absolute;
        margin: -6 .5em 0em 0em 11em;

    }
    

    


}

@media(Max-width:414px){

    header{
        width: 105%;
        margin: -8% 0% 0% -3%;
        padding: 10% 0% 10% 0%;
    }
    h1{
        margin-left: 22%;
    }
    nav{
        margin: -10% 0% 10% -3%;
    }
    nav>a{
        padding: 4% 0% 0% 8%;
    }
    .imagem{
        width: 106%;
        height: 14em;
        margin-left: -1em;
        margin-top: -1.2em;
        background-image: url(imagem/imagem414.jpg);
    }
    aside>footer{
        
        width: 104%;
    
    }


    .logomarca>a>img{
        width: 120px;
    }
   

}



@media(Max-width:407px){

    .imagem{
        width: 106.2%;
        height: 14em;
        margin-left: -1em;
        margin-top: -1.2em;
        background-image: url(imagem/imagem414.jpg);
    }
    .whatsapp>a>img{
        width: 110px;
        position: fixed;
        margin: -125em 0em 0em 19em;
    }


}

@media(Max-width:395px){

    .imagem{
        width: 106.4%;
        height: 14em;
        margin-left: -1em;
        margin-top: -1.2em;
        background-image: url(imagem/imagem414.jpg);
    }
    .whatsapp>a>img{
        width: 110px;
        position: fixed;
        margin: -114em 0em 0em 19em;
    }
    aside>footer{
        
        width: 104.2%;
    
    }


}


@media(Max-width:393px){

    header{
        width: 105%;
        margin: -8% 0% 0% -3%;
        padding: 10% 0% 10% 0%;
    }
    h1{
        margin-left: 21.5%;
    }
   
    nav>a{
        padding: 4% 0% 0% 9%;
    }
    .imagem{
        width: 106.3%;
        height: 11.5em;
        margin-left: -1em;
        margin-top: -1.2em;
        background-image: url(imagem/imagem360.jpg);
    }
    .whatsapp>a>img{
        width: 110px;
        position: fixed;
        margin: -105.3em 0em 0em 19em;
    }
     
    aside>footer{
        
        width: 104.2%;
    
    }

    .logomarca>a>img{
        width: 120px;
    }


}


@media(Max-width:390px){

    header{
        width: 105.2%;
        margin: -8% 0% 0% -3%;
        padding: 10% 0% 10% 0%;
    }
    .imagem{
        width: 106.5%;
        height: 11.5em;
        margin-left: -1em;
        margin-top: -1.2em;
        background-image: url(imagem/imagem360.jpg);
    
    }
    .whatsapp>a>img{
        width: 110px;
        position: fixed;
        margin: -105em 0em 0em 18.3em;
    }

    .logomarca>a>img{
        width: 120px;
    }
    
    
    aside>footer{
        
        width: 104.4%;
    
    }
}

@media(Max-width:384px){

    header{
        width: 105.3%;
        margin: -8% 0% 0% -3%;
        padding: 10% 0% 10% 0%;
    }
    h1{
        margin-left: 21%;
    }
    
    nav>a{
        padding: 4% 0% 0% 8%;
    }

    .whatsapp>a>img{
        width: 110px;
        position: fixed;
        margin: -115em 0em 0em 18.3em;
    }


    aside>footer{
        
        width: 104.4%;
    
    }
    .logomarca>a>img{
        width: 110px;
    }

    .links{
      
        position: absolute;
        margin: -5.5em 0em 0em 9em;

    }


}


@media(Max-width:375px){

    h1{
        margin-left: 20%;
    }
    .imagem{
        width: 106.7%;
        height: 12.5em;
        margin-left: -1em;
        margin-top: -1.2em;
        background-image: url(imagem/imagem375.jpg);
    }

}


@media(Max-width:360px){

    header{
        width: 105.3%;
        margin: -8% 0% 0% -3%;
        padding: 10% 0% 10% 0%;
    }
    h1{
        margin-left: 18.5%;
    }
    .imagem{
        width: 107%;
        height: 11.5em;
        margin-left: -1em;
        margin-top: -1.2em;
        background-image: url(imagem/imagem360.jpg);
    }
    
    .whatsapp>a>img{
        width: 110px;
        position: fixed;
        margin: -115em 0em 0em 17em;
    }
 
    aside>footer{
        
        width: 104.6%;
    
    } 


}
@media(Max-width:320px){
    header{
        width: 105.5%;
        margin: -8% 0% 0% -3%;
        padding: 10% 0% 10% 0%;
    }
    h1{
        margin-left: 15%;
    }
    nav>a{
        padding: 4% 0% 0% 6%;
    }
    .imagem{
        width: 108%;
        height: 10.5em;
        margin-left: -1em;
        margin-top: -1.2em;
        background-image: url(imagem/imagem320.jpg);
    }

    .whatsapp>a>img{
        width: 110px;
        position: fixed;
        margin: -135em 0em 0em 14em;
    }

    .logomarca>a>img{
        width: 100px;
    }
    aside>footer{
       
        width: 105.2%;
    
    }
    
    .links{
        position: absolute;
        margin: -5.5em 0em 0em 8em;

    }
    
   
}
@media(Max-width:280px){
    
    header{
        width: 106%;
        margin: -8% 0% 0% -3%;
        padding: 10% 0% 10% 0%;
    }
    h1{
        margin-left: 11%;
    }
    nav>a{
        padding: 4% 0% 0% 3.5%;
    }
    .imagem{
        width: 109.27%;
        height: 9.5em;
        margin-left: -1em;
        background-image: url(imagem/imagem280.jpg);
    }
    .whatsapp>a>img{
        width: 110px;
        position: fixed;
        margin: -133em 0em 0em 12em;
    }
   
    aside>footer{
        
        width: 106%;
    
    }
   
    .links{
      
        position: absolute;
        margin: -5.5em 0em 0em 6.5em;

    }

    

  
    
    
    
   
}



